ion-card{
    border-radius: 10px;
}

ion-item {
    --padding-end: 0px;
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    --padding-start: 0px;
    --border-style: none;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 120px;
}

.pins{
    column-count: 2;
}

.pin{
    display: inline-block;
    margin: 0 2px 10px;
    padding: 5px;
}
