<ion-content style="top: 20px">

  <ion-card color="light">
    <ion-card-content>


      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <ion-item color="light">
            <ion-label position="stacked" color="primary">Correo</ion-label>
            <ion-input type="email" formControlName="correo" color="medium"></ion-input>
          </ion-item>
          <div *ngIf="loginForm.controls['correo'].touched && !loginForm.controls['correo'].valid">
            <ion-text color="danger">
              <small *ngIf="loginForm.controls['correo'].hasError('required')">
                El campo es requerido
              </small>
              <small
                *ngIf="loginForm.controls['correo'].hasError('email') || loginForm.controls['correo'].hasError('minlength') || loginForm.controls['correo'].hasError('maxlength')">
                Valores no válidos
              </small>
            </ion-text>
          </div>
        </div>

        <div>
          <ion-item color="light">
            <ion-label position="stacked" color="primary">Contraseña</ion-label>
            <ion-input type="password" formControlName="password" color="medium"></ion-input>
          </ion-item>
          <div *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">
            <ion-text color="danger">
              <small *ngIf="loginForm.controls['password'].hasError('required') ">
                El campo es requerido
              </small>
              <small
                *ngIf="loginForm.controls['password'].hasError('pattern') || loginForm.controls['password'].hasError('minlength') || loginForm.controls['password'].hasError('maxlength')">
                Valores no válidos
              </small>
            </ion-text>
          </div>
        </div>

        <div padding>
          <ion-button type="submit" shape="round" expand="block" [disabled]="!loginForm.valid">Iniciar sesión
          </ion-button>
        </div>
      </form>

    </ion-card-content>
  </ion-card>

</ion-content>