<ion-content padding>

  <ion-text color="primary">
    <h4>Detalles del pedido</h4>
  </ion-text>
  <ion-card>
    <ion-grid>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <img src="{{ urlImageProducto + producto.imagen }}">
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="fixed">Talla: </ion-label>
            <ion-select placeholder="Seleccione una talla" [(ngModel)]="talla_id">
                <ion-select-option *ngFor="let talla of producto.tallas" [value]="talla.id">{{ talla.nombre }}</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="fixed">Color: </ion-label>
            <ion-select placeholder="Seleccione un color" [(ngModel)]="color_id">
              <ion-select-option *ngFor="let color of producto.colores" [value]="color.id">{{ color.nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="fixed">Cantidad: </ion-label>
            <ion-input type="number" [(ngModel)]="cantidad" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="fixed">Description: </ion-label>
            <ion-textarea [(ngModel)]="observaciones" placeholder="Ingrese una observacion (opcional)" rows="6"
              cols="20"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="fixed">Valor total: </ion-label>
            <ion-text color="success">
              <h5>{{ producto.precio * cantidad | currency }}</h5>
            </ion-text>
            <!-- <ion-input type="text" disabled [value]="producto.precio"></ion-input> -->
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="cancelarPedido()" color="danger">
            Cancelar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="confirmarPedido()" color="tertiary" float-right [disabled]="validarFormulario()">
            Aceptar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>




</ion-content>